language: cpp

sudo: required
dist: trusty
osx_image: xcode9

install:
- if [ "$CXX" = "g++" ]; then export CXX="g++-5" CC="gcc-5"; fi
- echo ${PATH}
- ${CXX} --version

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - llvm-toolchain-precise-3.9
    - george-edison55-precise-backports
    packages:
    - cmake
    - cmake-data
    - gcc-5
    - g++-5
    - clang-3.9

os:
  - linux
  - osx
  
compiler:
  - gcc
  - clang

env:
  global:
    - CMAKE_OPTIONS="-DOPTION_BUILD_EXAMPLES=On"
  matrix:
    - CMAKE_CONFIGURATION=release BUILD_DIR=build_release
    - CMAKE_CONFIGURATION=debug BUILD_DIR=build_debug

matrix:
  exclude:
  - os: osx
    compiler: gcc

script:
  - mkdir build
  - cd build
  - cmake .. && make
  - cmake --build . --target test

notifications:
  email: false

branches:
  only:
    - master
