language: cpp

sudo: required
dist: trusty
osx_image: xcode9.2

install:
- if [ "$CXX" = "g++" ]; then export CXX="g++-5" CC="gcc-5"; fi
- if [ $TRAVIS_OS_NAME == linux ]; then sudo apt-get install -qq qt5-default; fi
- if [ $TRAVIS_OS_NAME == osx ]; then brew update && brew install qt5 cppcheck; fi
- if [ $TRAVIS_OS_NAME = linux" ]; then
       QTDIR="/opt/qt56"
    && PATH="$QTDIR/bin:$PATH"
    && qt56-env.sh
    ;
  else
       QTDIR="/usr/local/opt/qt5"
    && PATH="$QTDIR/bin:$PATH"
    && LDFLAGS=-L$QTDIR/lib
    && CPPFLAGS=-I$QTDIR/include
    ;
  fi
- echo ${PATH}
- ${CXX} --version

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - llvm-toolchain-precise-3.9
    - george-edison55-precise-backports
    packages:
    - cmake
    - cmake-data
    - gcc-5
    - g++-5
    - clang-3.9
    - cppcheck

os:
  - linux
  - osx
  
compiler:
  - gcc
  - clang

env:
  global:
    - CMAKE_OPTIONS="-DOPTION_BUILD_EXAMPLES=On"
  matrix:
    - CMAKE_CONFIGURATION=release BUILD_DIR=build_release
    - CMAKE_CONFIGURATION=debug BUILD_DIR=build_debug

matrix:
  exclude:
  - os: osx
    compiler: gcc

script:
  - mkdir build
  - cd build
  - cmake .. && make
  - cmake --build . --target test
  - cmake --build . --target check-all
  - cmake --build . --target compilation_test

notifications:
  email: false

branches:
  only:
    - master
